/* Tests.css */

/* Estilos para a classe container */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Estilos para a classe item1 */
.item1:hover {
    
    color:#f321e9 ;
    
    padding: 10px;
    margin-bottom: 10px;
    color:#f32121;
     
    background-color: #4CAF50;
    
}

/* Estilos para a classe item2 */
.item2 {    
    background-color: #2196F3;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.item2:hover{
    color: #f32121;
}