.fundo{
    background-color: gold;
}
.login{
    display: block;
}

.pergunta {
    background-color: darkmagenta;
    font-size: 3cm;
    color: darkgoldenrod;
    text-align: center;
    font-family: cursive;
}

.icone{
    display: block;
    margin: 0;
    
}