*{ /*Seleciona todos os elementos*/
    margin: 0; /* Remove a margem padrao de todos os elementos*/ 
    padding: 0; /* remove o preenchimento padrao de todos os eementos*/
    box-sizing: border-box; /*Inclui a borda e o preenchimento dentro do 
    valor definindo de `width` e `heigth` dos elementos, facilitando 
    o controle do layout */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header-top {
    background-color: #0e0f3d; /* define a cor de fundo*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.contact-info span {
    margin-right: 10px;
}

nav {
    background-color: #00eeff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a {
    text-decoration:none;
    color: #d8870e
}

.hero {
    background-color: #FFB800;
    color: #e41010;
    text-align: center;
    padding: 20px 0;
}

.carosel {
    margin: 20px 0; 
}

.carosel img {
    max-width: 100%;
    height: auto;
    display: blockk;
    margin: 0 auto;
}

.cta-button {
    background-color: aliceblue;
    color: chocolate;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    display: inline-block;
    margin:10px 0;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: cornflowerblue;
}
.service-block {
    background-color: fuchsia;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.gallery {
    padding: 20px;
    text-align: center;
}

.gallery h2 {
    margin-bottom: 20px;
}

.gallery img {
    max-width: 30%;
    margin: 10px;
    border-radius: 5px;
}